{% extends 'global/base.html' %}

{% block title %}Dashboard ({{ user.first_name }}){% endblock title %}

{% block content %}
    <div class="main-content center container">
        <h2>Dashboard ({{ user.first_name }})</h2>
        {% include 'global/partials/_messages.html' %}
        {% include 'author/partials/_login_message.html' %}

        <div class="authors-dashboard-container">
            <div class="authors-menu">
                <h2>Receitas de {{ user.first_name }}:</h2>
                <a href="{% url 'authors:recipe_create' %}">+</a>
            </div>

            {% if recipes %}
            <ul>
                {% for recipe in recipes %}
                    <li class="user-recipe-list-item">
                        <i class="fas fa-utensils"></i>
                        <a href="{% url 'authors:recipe_edit' recipe.id %}">{{ recipe.title }}</a>
                        <p>{{ recipe.category }}</p>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <div class="empty-recipe-list">
                    <p "empy-recipe-text">Você ainda não tem nenhuma receita publicada. Clique <a class="links" href="{% url 'authors:recipe_create' %}">aqui</a> para criar uma!</p>
                </div>
            {% endif %}
        </div>

    </div>

{% endblock content %}
