{% extends 'global/base.html' %}

{% block title %}Dashboard ({{ recipe.title }}){% endblock title %}

{% block content %}
    <div class="main-content center container">
        <h2>{{ recipe.title }}</h2>

        {% include 'global/partials/_messages.html' %}

        {% if recipe and not recipe.is_published %}
            <p>Receita aguardando aprovação para ser publicada.</p>
        {% endif %}

        <div class="center-link">
            <a class="dashboard-page-link" href="{% url 'authors:dashboard' %}">Suas receitas</a>
        </div>

        <div class="left">
            {% include 'global/partials/_form.html' %}
        </div>
    </div>

{% endblock content %}
